*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
body{
    background-color: blueviolet;
    display: flex;
    max-height: 100vh;
    min-height: 100vh;
    max-width: 100%;
    align-items: center;
    justify-content: space-around;
    
}
h1{
    align-self: flex-start;
}
button{

    background-color: blueviolet;
    outline:none;
    margin: 5px;
    
}



.keys{
    display: flex;
    flex-direction: row;
    position: fixed;
    flex-wrap: wrap;
    justify-content: center;

   max-width: 100%;
   
}

.key{
    border: 2px black solid;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:5px;
    transition: all 0.08s;
    /*overflow-x:scroll;*/
    background-color: rgb(157, 157, 248)
}
kbd{
    display: block;
    font-size: 40px;
}
.playing{
    transform: scale(1.4);
     border-color:rgb(1, 1, 41);
}
